<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorator="template1">
<head>
    <meta charset="UTF-8"/>
    <title>Contacts</title>
    <link rel="stylesheet" type="text/css"
          href="../static/bootstrap.min.css"
          th:href="@{/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          href="../static/myStyle.css"
          th:href="@{/myStyle.css}"/>
</head>
<body>
<div layout:fragment="content"  >
    <div class="col-md-6 col-md-offset-3 ">

        <div class=" panel panel-primary">
            <div class="page-heading">Probleme d'authentification</div>
            <div class="panel-body">
                <div class="red ">
                    Cous n'avez pas le droit d'accèder à cette ressource
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>