<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Carnet d'Adresse</title>
    <link rel="stylesheet" type="text/css"
          href="../static/bootstrap.min.css"
          th:href="@{/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          href="../static/myStyle.css"
          th:href="@{/myStyle.css}"/>
</head>
<body>
<header>
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li> <a th:href="@{/index}">Contact</a></li>
                <li> <a th:href="@{/formContact}">Ajouter</a></li>
            </ul>
            <ul  class="nav navbar-nav navbar-right">

                <li> <a th:href="@{/login?logout}">Deconnection</a></li>
            </ul>

        </div>
    </div>
</header>
<section layout:fragment="content">
</section>
<footer>
    <div class="navbar-fixed-bottom">
        <small> @le carnet des adresses</small>
    </div>
</footer>

</body>
</html>